.list {
  display: inline-block;
  margin-right: 20px; /* Adjust as needed */
}

.linkA {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; /* Add smooth color transition */
}

.linkA:hover {
  color: #007bff; /* Change color on hover */
}
